@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model validdataannotation.Models.StudentModel

@using (Html.BeginForm("Index","StudentDetails",FormMethod.Post))
{
    <h4>Student Registration Form</h4><br/>
    <ol>
        <li>
            @Html.LabelFor(m=>m.Name)
            @Html.TextBoxFor(m=>m.Name)
            @Html.ValidationMessageFor(m=>m.Name)
        </li>
        <li>
            @Html.LabelFor(m=>m.Age)
            @Html.TextBoxFor(m=>m.Age)
            @Html.ValidationMessageFor(m=>m.Age)
        </li>
        <li>
            @Html.LabelFor(m=>m.Email)
            @Html.TextBoxFor(m=>m.Email)
            @Html.ValidationMessageFor(m=>m.Email)
        </li>
        <li>
            @Html.LabelFor(m=>m.ConfirmEmail)
            @Html.TextBoxFor(m=>m.ConfirmEmail)
            @Html.ValidationMessageFor(m=>m.ConfirmEmail)
        </li>

    </ol>
    <input type="submit" value="submit"/>
}

<hr/>
<h5 style="color:cornflowerblue">Student Details:</h5><br/>
Name:@ViewBag.Name<br/>
Age:@ViewBag.Age<br/>
Email:@ViewBag.Email<br/>
Confirm Email:@ViewBag.Conemail
